# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/
.env

# Ignore logs and temp files
*.log
*.sqlite3
instance/

# Ignore IDE/editor-specific files
.vscode/
*.swp
*.swo
.idea/
